body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

.navbar {
    background: #000;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.container {
    margin: 60px auto;
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
}

.select-group {
    display: flex;
    justify-content: space-between;
}

.download-btn {
    background: #4CAF50;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
